$color__white: #ffffff;
$color__black: #000000;

$color__red: #ff4800;
$color__red__dark: #c23801;

$color__peru: #d1a054;

$color__gray__lightest: #f1f1f1;
$color__gray__lighten: #e0e0e0;
$color__gray__light: #a4a4a4;
$color__gray: #7f7d74;
$color__gray__dark: #494940;
$color__gray__darken: #3b3b34;
$color__gray__darkest: #363633;
